[DEFAULT]
node_config=/home/msch/lxdmounts/cnode-preprod/cardano/cnode/files/config.json
ekg_url=http://10.209.86.148:12788/
node_logs_dir=/home/msch/lxdmounts/cnode-preprod/cardano/cnode/logs/

# my own at home: 213.216.27.62
relay_public_ip = 213.216.27.62
# relay_public_port = 3001
operator = devmanuel

client_ca = ""
client_cert = /home/msch/src/cf/blockperf.py/tmp/devmanuel-certificate.pem
client_key = /home/msch/src/cf/blockperf.py/tmp/devmanuel-private.key